<!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->

            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button style="margin-right: 8px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar" ng-hide="navCtrl.showMenu()" id="burger-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p style="padding-left: 16px;" class="navbar-brand" class="primary-text-color">{{navCtrl.currentTitle()}}</p>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li data-toggle="" data-target="#mainNavbar" role="presentation" class="nav-item" ng-class="{active : navCtrl.isSelected('/searchCities')}"
                    ng-click="navCtrl.setTab(1)">
                    <a href="#/searchCities">
                        Inserisci città
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                </li>
                <li data-toggle="" data-target="#mainNavbar" role="presentation" class="nav-item" ng-class="{active : navCtrl.isSelected('/favoritedCites')}"
                    ng-click="navCtrl.setTab(2)">
                    <a href="#favoritedCites">
                        Lista città
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </a>
                </li>
                <li data-toggle="" data-target="#mainNavbar" role="presentation" class="nav-item" ng-class="{active :  navCtrl.isSelected('/convertHour')}"
                    ng-click="navCtrl.setTab(3)">
                    <a href="#convertHour">
                        Converti ora
                        <span class="glyphicon glyphicon-globe " aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>