<div class="">
    <span style="font-size: large">{{clockCtrl.time | date:'HH:mm' : clockCtrl.offset}}</span>
    <!--<span style="font-size: x-small">:{{clockCtrl.time | date:'ss' : clockCtrl.offset}}</span>-->
</div>
