<div class="container-fluid">
    <div class="margin-city-details row" >
        <div class="col-xs-6">
            Città
        </div>
        <div class="col-xs-6 bold">
            <span class="pull-right">{{detailsCtrl.selectedCity.name}}</span>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6">
            Nazione
        </div>
        <div class="col-xs-6 bold">
            <span class="pull-right">{{detailsCtrl.selectedCity.countryName}}</span>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6">
            Ora
        </div>
        <div class="col-xs-6 bold" >
            <clock class="pull-right" timezone="detailsCtrl.selectedCity.timezone.timezoneId"></clock>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6 ">
            Data
        </div>
        <div class="col-xs-6 bold">
            <date class="pull-right" timezone="detailsCtrl.selectedCity.timezone.timezoneId"></date>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6">
            Fuso orario
        </div>
        <div class="col-xs-6 bold">
            <span class=" pull-right">{{detailsCtrl.selectedCity.timezone.timezoneId}}</span>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6">
            Alba
        </div>
        <div class="col-xs-6 bold">
            <span class=" pull-right">{{detailsCtrl.selectedCity.timezone.sunrise | date:'HH:mm'}}</span>
        </div>
    </div>
    <div class="margin-city-details row">
        <div class="col-xs-6">
            Tramonto
        </div>
        <div class="col-xs-6 bold">
            <span class=" pull-right">{{detailsCtrl.selectedCity.timezone.sunset | date:'HH:mm'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-warning" ng-show="detailsCtrl.selectedCity.errorOnTimezoneService">
            <span class="glyphicon glyphicon-warning-sign"></span> Gli orari di alba e tramonto non potrebbero corrispondere a quelli attuali, controlla che sia disponibile l'accesso a Internet
        </div>
    </div>
</div>