/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*AFFIX*/
.affix {
    top: 80px;
    /*left : 0px;*/
    right: 50px;
    width: 50%;
}
/* COLOR PALETTE*/
.info-background-color {background-color: rgb(91, 192, 222)}


/*collpse navbar even with tablets*/
@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.bootstrap-datetimepicker-widget table td span:active {
    background: #eee;
}
.margin-city-details{
    margin-bottom:8px;
}
.bold{
    font-weight: bold;
}
/*-----------------------------CORDOVA STUFF----------------------------*/
/** {*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0); !* make transparent link selection, adjust last value opacity 0 to 1.0 *!*/
/*}*/

/*body {*/
    /*-webkit-touch-callout: none;                !* prevent callout to copy image, etc when tap to hold *!*/
    /*-webkit-text-size-adjust: none;             !* prevent webkit from resizing text to fit *!*/
    /*-webkit-user-select: none;                  !* prevent copy paste, to allow, change 'none' to 'text' *!*/
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    /*font-size:12px;*/
    /*height:100%;*/
    /*margin:0px;*/
    /*padding:0px;*/
    /*text-transform:uppercase;*/
    /*width:100%;*/
/*}*/

/* Portrait layout (default) */
/*
.app {
    position:absolute;             !* position in the center of the screen *!
    left:50%;
    top:50%;
    height:50px;                   !* text area height *!
    width:225px;                   !* text area width *!
    text-align:center;
    padding:180px 0px 0px 0px;     !* image height is 200px (bottom 20px are overlapped with text) *!
    margin:-115px 0px 0px -112px;  !* offset vertical: half of image height and text area height *!
                                   !* offset horizontal: half of text area width *!
}
*/

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {*/
    /*.app {*/
        /*background-position:left center;*/
        /*padding:75px 0px 75px 170px;  !* padding-top + padding-bottom + text area = image height *!*/
        /*margin:-90px 0px 0px -198px;  !* offset vertical: half of image height *!*/
                                      /*!* offset horizontal: half of image width and text area width *!*/
    /*}*/
/*}*/
